<ion-view view-title="" class="body-bg">
    <ion-content scroll="false">
        <div style="margin-top:{{data.height/7}}px !important;">&nbsp;</div>
        <div class="icon_small">&nbsp;</div>
        <h3 style="text-align: center;">Member Login</h3>

        <div class="list list-inset  myinput">
            <label class="item item-input">
                <i class="fa fa-user placeholder-icon"></i>
                <input type="text" placeholder="Enter your username" >
            </label>            
        </div><br>
        <div class="list list-inset myinput">
            <label class="item item-input">
                <i class="fa fa-lock placeholder-icon"></i>
                <input type="text" placeholder="Enter your password">
            </label>

        </div>     
            
        <button class="button button-block button-positive myinput firs_button" ng-click="goHome()">
                    Login
                </button>
        
        <br>
         <div class="row myinput" style="font-size: 90% !important;">
             <div class="col-50">Forgot Password? </div>
             <div class="col-50 pull-right" style="text-align: right !important;">Get Help</div>        
        </div><br>
          


        

    </ion-content>
</ion-view>