<ion-view view-title="My Dashboard " class="body-bg">
    <ion-content>
        <div style="margin-top:25px !important; text-align: center !important;">
            <i class="fa fa-user-circle fa-4x" style="font-size:500%"></i>
        </div>
        <div style="text-align: center;">Welcome John Doe</div>
        <br>
        
        <div id="map" data-tap-disabled="true"  style="height:{{data.height/3}}px !important;width:90% !important;margin:auto !important;"></div>

        <div class="row">
            <div class="col-50"><div class="card">
                    <div class="item item-text-wrap" style="text-align: center;">
                        <i class="fa fa-registered fa-2x" style="text-align: center;"></i><br>
                        39 Companies
                    </div>
                </div></div>
            
             <div class="col-50"><div class="card">
                    <div class="item item-text-wrap" style="text-align: center;">
                        <i class="fa fa-bar-chart fa-2x"></i><br>
                        12 outstanding
                    </div>
                </div></div>
        </div>
         <div class="row">
            <div class="col-50"><div class="card">
                    <div class="item item-text-wrap" style="text-align: center;">
                        <i class="fa fa-registered fa-2x" style="text-align: center;"></i><br>
                        39 Companies
                    </div>
                </div></div>
            
             <div class="col-50"><div class="card">
                    <div class="item item-text-wrap" style="text-align: center;">
                        <i class="fa fa-bar-chart fa-2x"></i><br>
                        12 outstanding
                    </div>
                </div></div>
        </div>





    </ion-content>
</ion-view>