.body-bg{
	background: url(../img/bg1.jpg);
	background-size: cover;
	color:#ffffff;
}


/* All custom css will have the prefix hrot which is an acronymn for HR orange toolbox*/
.list{
	border:0px  !important;
}
.item{
	border-width: 0px !important;
}




@font-face {
    font-family: 'gtw_karlaRegular';
    src: url('../fonts/karla/KarlaRegular.eot');
    src: url('../fonts/karla/KarlaRegular.eot') format('embedded-opentype'),
    url('../fonts/karla/KarlaRegular.woff') format('woff'),
    url('../fonts/karla/KarlaRegular.ttf') format('truetype'),
    url('../fonts/karla/KarlaRegular.svg') format('svg');
}
@font-face {
    font-family: 'gtw_karlaBold';
    src: url('../fonts/karla/KarlaBold.eot');
    src: url('../fonts/karla/KarlaBold.eot') format('embedded-opentype'),
    url('../fonts/karla/KarlaBold.woff') format('woff'),
    url('../fonts/karla/KarlaBold.ttf') format('truetype'),
    url('../fonts/karla/KarlaBold.svg') format('svg');
}
@font-face {
    font-family: 'gtw_karlaBoldItalic';
    src: url('../fonts/karla/KarlaBoldItalic.eot');
    src: url('../fonts/karla/KarlaBoldItalic.eot') format('embedded-opentype'),
    url('../fonts/karla/KarlaBoldItalic.woff') format('woff'),
    url('../fonts/karla/KarlaBoldItalic.ttf') format('truetype'),
    url('../fonts/karla/KarlaBoldItalic.svg') format('svg');
}
@font-face {
    font-family: 'gtw_karlaItalic';
    src: url('../fonts/karla/KarlaItalic.eot');
    src: url('../fonts/karla/KarlaItalic.eot') format('embedded-opentype'),
    url('../fonts/karla/KarlaItalic.woff') format('woff'),
    url('../fonts/karla/KarlaItalic.ttf') format('truetype'),
    url('../fonts/karla/KarlaItalic.svg') format('svg');
}



body,
.ionic-body  {
    font-family: "gtw_karlaRegular" !important;
    font-size: 16px !important;
    font-weight: lighter !important;
    color:#ffffff !important;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "gtw_karlaRegular"!important;
    /*line-height: 2px!important;*/
    color:#ffffff;
}

.myinput{
    margin:auto;
    width:80% !important;
}

.icon_small{
    background: url(../img/icon_small.png);
    width:136px;
    height:103px;
    margin:auto;
    left:auto;
}
.firs_button{
    background-color:#E1B066 !important;
    color:#ffffff !important;
}
.bar-stable{
    background-color:transparent !important;
    border-bottom: none !important;
    border:none !important;
}
.ion-navicon{
    color:#ffffff !important;
}
.bar.bar-stable .title {
    color:#ffffff !important;
    text-align: center !important;
}
.tab-item {
    font-family: "gtw_karlaRegular"!important;
}

input,
button,
select,
textarea {
    font-family: "gtw_karlaRegular"!important;
}


.gtw_fontBig{
    font-size: 40px !important;
}
.gtw_fontBig-1{
    font-size: 30px !important;
    color: #dedede !important;
}

.list{ color: #F0F0F0 !important;
}

.gtw_skip_color{
    background-color: #CE4B04 !important;
}
.gtw_title_center_orange{
    font-size:15px !important;
    color:#E26C2E !important;
    text-align: center;
}

.gtw_title_smaller{
    font-size:15px !important;
    color:#414951 !important;
}
.gtw_title_smaller-1{
    font-size:13px !important;
    color:#414951 !important;
}
.gtw_title_smaller-2{
    font-size:14px !important;
    color:#F0F0F0 !important;
}
.gtw_title_center{
    color:#414951 !important;
    text-align: center !important;
    letter-spacing: 0.5em;
    margin-left: auto;
    margin-right: auto;
    font-size:20px !important;
    padding-top:20px !important;
}

.gtw_title_center_18{
    color:#414951 !important;
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
    font-size:18px !important;
    padding-top:20px !important;
}

.gtm_center{
    margin-left: auto;
    margin-right: auto;
}
.gtw_title_center-2{
    color:#E26C2E !important;
    text-align: center !important;
    margin-left: auto;
    margin-right: auto;
    font-size:13px !important;
    /*padding-top:25px !important;*/
    line-height: 30px !important;
}
.gtw_title{
    color:#414951 !important;
    text-align: center !important;
}
.gtw_center_img{
    display: block;
    margin-left: auto;
    margin-right: auto

}

.item{
    border-width :0px !important;
}

.gtw_text_grey-1{
    color:#414951 !important;
}

.gtw_bg {
    background-image: url(../img/img3.jpg);
    background-size: cover;
    /*margin: auto;*/
    /*width: 100%;
    height: 100%;*/
}

.ndani_bg {
    background-image: url(../img/img5.png);
    background-size: cover;
    margin: auto;
    width: 100%;
    height: 100%;
    color: #ffffff !important;
}

.gtw_bg_finish {
    background-image: url(../img/img4.png);
    background-size: cover;
    margin: auto;
    width: 100%;
    height: 100%;
}

.gtw_registration {
    background-image: url(../img/registration.png);
    background-size: cover;
    margin: auto;
    width: 100%;
    height: 100%;
    color: #ffffff !important;
}

.gtw_passive{
    background-image: url(../img/passive.png);
    background-size: cover;
    margin: auto;
    width: 50px;
    height: 50px;
    color: #ffffff !important;
}

.gtw_active{
    background-image: url(../img/active.png);
    background-size: cover;
    margin: auto;
    width: 65px;
    height: 65px;
    color: #ffffff !important;
}
.circular-1 {
    width: 50px;
    height: 50px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    /*box-shadow: 0 0 8px rgba(0, 0, 0, .8);*/
    /*-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);*/
    /*-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);*/
    margin:7px !important;
}

.circular-2 {
    width: 54px;
    height: 54px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    /*box-shadow: 0 0 8px rgba(0, 0, 0, .8);*/
    /*-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);*/
    /*-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);*/
    margin:7px !important;
}

.gtw_div_center{

    display: block;
    margin-left: auto;
    margin-right: auto
}
.gtw_title_center-3{
    color:#ffffff !important;
    text-align: center !important;
    letter-spacing: 0.2em;
    margin-left: auto;
    margin-right: auto;
    font-size:13px !important;
    padding-top:20px !important;
}

.item-complex .item-content, .item-radio .item-content{
  padding: 5px 49px 5px 1px!important;
  background-color: transparent!important;
  /*width: 120px!important;*/
}

.item-checkbox {
    padding-left: 50px!important;
}

.checkbox input, .question .checkbox-icon{
  margin-left: 20%!important;
}

.checkbox input, .interest .checkbox-icon{
  margin-left: 5%!important;
}

.checkbox input:before,
.checkbox-icon:before {
  background: #fff!important;    /* use your color hex instead of #333 */
  border-color: #E26C2E!important;
}

.checkbox input:checked:before,
.checkbox input:checked + .checkbox-icon:before {
  background: #E26C2E!important;
}

label.interest div.item-content{
  width: 170px!important;
  text-align: left!important;
}

.btn-circle.btn-lg-dash > i.on {
    width: 55px;
    height: 55px;
    padding: 16px 0;
    font-size: 20px;
}

.mtop5 {
    margin-top: 5px !important;
}

.gtw-step-item{
  margin-top: 5px;
  border: 0px!important;
  padding: 0px!important;
  text-align: center;
  font-size: 12px;
}
.pull-center{
  margin: 0 auto!important;
}

.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
}

#fixedbutton {
    position: fixed;
    bottom: 0px;
    left: 0px;
}

.bar-ireport{
    background-color:#DC4E04 !important;
    box-shadow: 0px 6px 2px rgba(0, 0, 0, 0.10) !important;
    color:#EBEBEB !important;
    font-family: "gtw_karlaRegular" !important;
    border: 0px !important;
}

.ion-nav-camera{
    background-image: url("../img/camera.png");
    background-repeat: no-repeat;
    width: 48px !important;
    height: 37px !important;
    line-height: 10px !important;
    margin-left:20px !important;
    margin-top: 12px;
}

.bg_ireport{
  background-image: url(../img/img3.jpg);
  background-size: cover;
}
.bg_ireport_banner{
    background: url("../img/ireport_banner.png") repeat;
    height:90px !important;
    padding-top:0 !important;
    z-index: 2;
    color:#ffffff;
    border: 0px !important;
}
.bg_ireport_banner-4{
    background: url("../img/ireport_banner.png") repeat;
    height:190px !important;
    padding-top:0px !important;
    z-index: 2;
    color:#ffffff;
    border: 0px !important;
}
.bg_ireport_banner-2{
    background: url("../img/ireport_banner.png") repeat;
    height:90px !important;
    padding-top:20px !important;
    z-index: 2;
    color:#ffffff;
    border: 0px !important;
}

.bg_gtraffic_banner-2{
  background: url("../img/gttraffic-report-bg.png") no-repeat;
  height: 90px !important;
  padding-top: 20px !important;
  z-index: 2;
  width: 100%!important;
  display: block;
  background-size: cover;
}

.ibdt{
    padding-top:40px !important;
    padding-left:50px !important;
}

.item_align_left{
    margin-left: 20px !important;
}

.bg_ireport_banner_drawer-2{
    padding-top:0px !important;
    background-color: #ffffff !important;
    color:#777777 !important;
    height:100% !important;
}
.bg_gttraffic_banner_drawer{
    padding-top:0px !important;
    background-color: #ffffff !important;
    color:#777777 !important;
    height:100% !important;
}
div ul.list a.item {
    color:#777777 !important;
    text-align: left !important;
}
.ireport_footer{
    box-shadow: 0px -6px 2px rgba(0, 0, 0, 0.07) !important;
    background-color: #ffffff !important;
    height:100px !important;
    background: url("../img/ireport_footer.png") repeat !important;
    border: 0px !important;
    background-size:cover !important;
    z-index:20;
}
.gtw_icon_more{
    padding-top:30px !important;
}
.bg_ireport_camera_big{
    background: url("../img/camera_big.png") no-repeat !important;
    background-size: contain;
    height: 100%;
    margin-left: 48% !important;
    z-index: 10;
    margin-top:13%
border: 0px !important;
}
.bg_ireport_camera_big-3{
    background: url("../img/bigger1-camera.png") no-repeat !important;

    height: 93px !important;

    margin-left: 70% !important;
    z-index: 10;
    margin-top:10px
border: 0px !important;
}
.ireport-big-text{
    font-size:20px !important;
}
.bg_ireport_camera_big-2{
    background: url("../img/bigger-camera.png") no-repeat !important;
    background-size: cover !important;
    height: 237px;

    z-index:1;
    border: 0px !important;

    margin-bottom:50px !important;
    min-height: 199px;
}

.text_ireport_banner{
    color:#EBEBEB !important;
    font-size: 20px;
    font-family: "gtw_karlaItalic" !important;
    padding-left: 35px !important;
    padding-top:25px;

}
.text_ireport_banner-2{
    color:#ffffff !important;
    font-size: 15px;
    font-family: "gtw_karlaRegular" !important;
    padding-left: 35px !important;
    padding-top:20px;
}

.card_ireport{
    padding: 20px !important;
    line-height: 30px;
}

.card_ireport_color-1{
    font-family: "gtw_karlaBold";
    color:#e14800 !important;
}
.card_ireport_color-2{
    font-family: "gtw_karlaBold";
    color:#6E8233 !important;
}
.ireport_success_text{
    font-size:30px !important;
}
.card_ireport-chevron-1{
    color: #F3C4AB !important;
}
.card_ireport-chevron-2{
    color: #CED5BA !important;
}

ion-scroll[direction=x] {
    width: 100vw;
}
ion-scroll[direction=y] {
    height: 100vh;
}

.gtw_yxt input[placeholder]{
text-align: left !important;
}
input[type="tel"]{
    text-align: left;
}

.bg_gttraffic_banner_drawer{
    background: url("../img/gttraffic_drawer_banner.png") repeat;
    height:177px !important;
    padding-top:0px !important;
    background-color: #ffffff !important;
    color:#777777;
    border: 0px !important;
    background-size:cover;
}
.bg_ndani_camera_big-2{
    background: url(../img/ndani-header.png);
    width: 100%!important;
    height: 100px;
    display:block;
    background-size: contain;
}


.toggle input:checked + .track {
    border-color: #e14800;
    background-color: #e14800;
}
.gttunes_bg{
    background-image: url("../img/gttunes.png");
    background-repeat:no-repeat;
    background-size: cover;
    height:200px;

}
.spinlet_card{
    background-color:#141414 !important;
    color:#ffffff !important;
    opacity:0.3;
}
.align_tunes_text{
    color:#ffffff !important;
    margin-left:60px !important;
    line-height:50px !important;
}
.align_tunes_text-2{
    color:#ffffff !important;

}
.img_tunes{
    height:150px !important;
    width: 150px !important;
}
.bg_tunes_playlist{

    color:#ffffff !important;
    border: 0px !important;

}

.gttunes_add_playlist{
    background-image: url("../img/plus_playlist.png");
    background-repeat:no-repeat;
    background-size: contain;
    height:50px;

}
.bg_tunes{
    background-color:#292929;
    color:#ffffff;
    border: 0px !important;

}
.bg_tunes_text{

    font-size:11px !important;
    position: absolute;
    bottom: 0;
    background-color: #000000;
    /*height:40px;*/
    opacity:0.8;
    width: 150px;
    color: #ffffff;
}

.faded_color_report{
    color:#cccccc !important;
    font-size:10px !important;
}

.faded_color_report-2{
    color:#e14800 !important;
    font-size:12px !important;
    opacity:05;
}

.circle_icon_pane
{
    padding: 5px 10px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    /*-moz-box-shadow: 0px 0px 2px #888;*/
    /*-webkit-box-shadow: 0px 0px 2px #888;*/
    /*box-shadow: 0px 0px 2px #888;*/
    background-color: #e14800;
    color: #fff;
}

.squre_icon_pane
{
    display:inline-block;
    line-height: 0px;
    background-color:#e14800;
    color:white;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    font-size:25px!important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding-top: 8px;
}



.circle_icon_pane_dash
{
    padding: 10px 12px;
    display: inline-block;
    -moz-border-radius: 100px;
    -webkit-border-radius: 100px;
    border-radius: 100px;
    /*-moz-box-shadow: 0px 0px 2px #888;*/
    /*-webkit-box-shadow: 0px 0px 2px #888;*/
    /*box-shadow: 0px 0px 2px #888;*/
    background-color: #e14800;
    color: #fff;
}

.item-avatar > i, .item-avatar .item-image, .item-avatar .item-content > img:first-child, .item-avatar .item-content .item-image, .item-avatar-left > img:first-child, .item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child, .item-avatar-left .item-content .item-image {
    position: absolute;
    top: 16px;
    left: 16px;
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    border-radius: 100px;
}
